/* --------------------------------------------------- */

/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

@font-face {
  font-family: "EB Garamond", serif;
  src: url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
}

@media print {
  html, body {
     border: 1px solid white;
     height: 99%;
     page-break-after: avoid !important;
     page-break-before: avoid !important;
  }

}

body {
  font-family: "EB Garamond", serif;

  max-width: 700px;
  line-height: 1.6;
  font-size: 1rem;
  color: #444;
  text-align: justify;
  margin: auto;
  padding: 0 12px;
  word-wrap: break-word;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  margin-top: 1em;
}

h1,
.h1 {
  font-size: 24pt;
  margin: 0;
}

h2 {
  font-size: 18pt;
  color: #444;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

/* Containers */
div.container {
  display: flex;
  justify-content: space-between;
}

.left {
  text-align: left;
  margin: 0;
}

.right {
  text-align: right;
}

/* Lists */
ul,
ol {
  padding-left: 1.5em;
}

/* Links */
a {
  color: #326891;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Bold and italic */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Horizontal rule */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

/*
 * Markdown PDF CSS
 */

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  border-radius: 3px;
  overflow-x: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

pre:not(.hljs) {
  padding: 23px;
  line-height: 19px;
}

blockquote {
  background: rgba(127, 127, 127, 0.1);
  border-color: rgba(0, 122, 204, 0.5);
}

.emoji {
  height: 1.4em;
}

code {
  font-size: 14px;
  line-height: 19px;
}

/* for inline code */
:not(pre):not(.hljs) > code {
  color: #c9ae75; /* Change the old color so it seems less like an error */
  font-size: inherit;
}

/* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */
.page {
  break-after: page;
}
